In [1]:
# import the pandas library
import pandas as pd

In [65]:
# read the dataset
df=pd.read_csv("C:\Users\Dell\Desktop\\naive.csv")

In [22]:
df.head()

    Weather Play
0     Sunny   No
1  Overcast  Yes
2     Rainy  Yes
3     Sunny  Yes
4     Sunny  Yes

In [23]:
# making dummy of play variable
dummy=pd.get_dummies(df['Play'])
df=pd.concat([df,dummy],axis=1)

In [25]:
df.head()

    Weather Play  No  Yes
0     Sunny   No   1    0
1  Overcast  Yes   0    1
2     Rainy  Yes   0    1
3     Sunny  Yes   0    1
4     Sunny  Yes   0    1

In [29]:
# drop the play variable
df=df.drop(['Play'],axis=1)

In [30]:
df.head()

    Weather  No  Yes
0     Sunny   1    0
1  Overcast   0    1
2     Rainy   0    1
3     Sunny   0    1
4     Sunny   0    1

## Question 1

In [64]:
# print "p(yes|sunny)=(p(sunny|yes) * p(yes)) / p(sunny)"
print "p(yes|sunny)=",(0.33 * 0.64) / 0.36

p(yes|sunny)= 0.586666666667

## Question 2

In [48]:
# load the iris dataset
from sklearn.datasets import load_iris
iris = load_iris()

In [49]:
# store the feature matrix (X) and response vector (y)
X = iris.data
y = iris.target

In [50]:
# splitting X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1)

### GaussianNB

In [51]:
# training the model on training set using gaussianNB
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)

GaussianNB(priors=None)

In [52]:
# making predictions on the testing set
predictions = gnb.predict(X_test)

In [53]:
## Confusion Matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,predictions)

array([[19,  0,  0],
       [ 0, 19,  2],
       [ 0,  1, 19]], dtype=int64)

In [54]:
## classification report
from sklearn.metrics import classification_report 
target_names = ['class 0', 'class 1', 'class 2']
classification_report(y_test, predictions, target_names=target_names)

u'             precision    recall  f1-score   support\n\n    class 0       1.00      1.00      1.00        19\n    class 1       0.95      0.90      0.93        21\n    class 2       0.90      0.95      0.93        20\n\navg / total       0.95      0.95      0.95        60\n'

In [55]:
# comparing actual response values (y_test) with predicted response values (y_pred)
from sklearn import metrics
metrics.accuracy_score(y_test, predictions)*100

95.0

### MultinominalNB

In [56]:
# training the model on training set using multinominalNB
from sklearn.naive_bayes import MultinomialNB
mul= MultinomialNB()

In [57]:
mul.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [58]:
# making predictions on the testing set
predictions = mul.predict(X_test)

In [59]:
## Confusion Matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,predictions)

array([[19,  0,  0],
       [ 0, 17,  4],
       [ 0,  0, 20]], dtype=int64)

In [60]:
## classification report
from sklearn.metrics import classification_report 
target_names = ['class 0', 'class 1', 'class 2']
classification_report(y_test, predictions, target_names=target_names)

u'             precision    recall  f1-score   support\n\n    class 0       1.00      1.00      1.00        19\n    class 1       1.00      0.81      0.89        21\n    class 2       0.83      1.00      0.91        20\n\navg / total       0.94      0.93      0.93        60\n'

In [61]:
# comparing actual response values (y_test) with predicted response values (y_pred)
from sklearn import metrics
metrics.accuracy_score(y_test, predictions)*100

93.333333333333329